<div class="grid-container">
  <div class="grid-x grid-margin-x">

    <div class="cell medium-10">
      <h2>Практика по руби. Храним ваши треугольники потому, что можем <small> 17.05.2020 </small></h2>
      <h4>Задача:</h4>
      <p>Создать веб-приложение, позволяющее пользователю составить список из треугольников. Список треугольников можно фильтровать по значению площади в диапазоне от минимального до максимального.

        Приложение должно позволять пользователю добавлять новые треугольники. Они должны добавляться в список только из данных сторон можно составить треугольник.

        Приложение также должно содержать в себе информацию о разработчике.</p>
      <div class="callout">
        <ul class="menu simple">
          <li>Автор: Анна Целикова ИВТ-22БО</li>
        </ul>
      </div>
    </div>
  </div>
</div>
