<div class="large-12 cell">
  <% form({method: :post}, { obj: @params }) do |f| %>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <%= f.input(:first, type: :text, placeholder: '5', label: 'Первая сторона') %>
        </div>
        <div class="large-12 cell">
          <%= f.input(:second, type: :text, placeholder: '5', label: 'Вторая сторона') %>
        </div>
        <div class="large-12 cell">
          <%= f.input(:third, type: :text, placeholder: '5', label: 'Третья сторона') %>
        </div>
        <div class="large-12 cell">
          <%= f.button(value: 'Добавить треугольник', class: "button success") %>
        </div>
      </div>
    </div>
  <% end %>
</div>