<% form({ method: :post },{ obj: @parameters }) do |f| %>

  <div class="grid-x grid-margin-x">
    <h2>Удалить вклад</h2>
  </div>

  <div class="grid-x grid-padding-x">
    <% unless @errors.empty? %>
      <div class="large-12 cell callout warning">
        <p>Такого вида вклада нет. Предлагаем следующие виды:</p>
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="large-12 cell">
      <%= f.input(:deposit_type, type: :text, label: 'Название вклада', placeholder: 'Инвестиционный')%>
    </div>
    <div class="large-12 cell">
      <%= f.input(:date, type: :date, label: 'Дата для начисления процентов')%>
    </div>
    <div class="large-12 cell">
      <%= f.button(value: 'Удалить вклад и начислить проценты', class: 'button') %>
    </div>
  </div>
<% end %>