<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-10">
      <div class="callout">
        <ul class="menu simple">
          <li>Автор: Анна Целикова ИВТ-22БО</li>
        </ul>
      </div>
      <h3>Читательский дневник <small> 17.05.2020 </small></h3>
      <p></p>
      <h4>Задача:</h4>
      <p>Написать веб-приложение, моделирующее работу читательского дневника.</p>
      <p>Приложение должно выполнять следующие функции:</p>
      <ol>
        <li>
          <p>Отображение списка всех прочитанных книг.</p>
          <p>Список всех прочитанных книг должен быть упорядочен по убыванию даты прочтения и отображаться в таблице со столбцами:</p>
          <ul>
            <li>Дата прочтения;</li>
            <li>Автор «Название».</li>
          </ul>
          <p></p>
        </li>
        <li>
          <p>Добавление новой записи о прочтении книги.</p>
          <p>Пользователь заполняет форму с информацией о книге:</p>
          <ul>
            <li>Автор произведения;</li>
            <li>Название произведения;</li>
            <li>Дата прочтения.</li>
          </ul>
          <p></p>
          <p>Заполнив все поля, пользователь нажимает кнопку «Сохранить».
            Перед сохранением приложение должно проверить корректность введённых данных:</p>
          <ul>
            <li>Поля автора и названия не пусты;</li>
            <li>Дата прочтения записана в формате ГГГГ-ММ-ДД и является
              существующей датой (в году 12 месяцев, в месяце 31 день).</li>
          </ul>
          <p></p>
          <p>Если введённые данные не корректны, приложение должно вывести пользователю соответствующее сообщение,
            указав какие именно поля заполнены неверно и какая ошибка допущена.
            Введённые пользователем данные не должны потеряться.</p>
          <p>Если данные корректны, приложение должно сохранить запись о прочтении и
            отобразить список всех прочитанных книг.</p>
        </li>
        <li>
          <p>Отображение статистики чтения за год.</p>
          <p>Приложение отображает список годов, за которые есть информация о прочитанных книгах.</p>
          <p>После выбора отчётного года приложение отображает информацию за весь год,
            сгруппированную по месяцам. Для каждого месяца выводится:</p>
          <ul>
            <li>Количество прочитанных книг.</li>
          </ul>
          <p></p>
        </li>
      </ol>
    </div>
  </div>
</div>
